* {
  font-family: "Palatino", "Libre Baskerville", serif;
}

a, a:link, a:visited, a:focus {
  color: rgb(100, 143, 213);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: gray;
}

#profile_pic {
  display: block;
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
  clear: both;
  border: 1px solid;
}

#oxford_pic {
  display: block;
  width: 300px;
  height: auto;
  margin: 20px;
  margin-top: 0;
  margin-left: 0;
  float: left;
}

#name {
  font-weight: bold;
  font-size: 125%;
  border: 0;
}

#intro_blurb {
  text-align: center;
  font-family: arial;
}

#intro_blurb p {
  width: 300px;
  margin: 10px auto;
}

.nav {
  float: right;
  text-align: center;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 70px;
  border-bottom: 1px solid gray;
  width: 350px;
  padding: 0;
}

.nav a {
  color: gray;
  font-family: "Helvetica", sans-serif;
}

.nav ul{
  margin:10px auto;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 9px;
}

.social_media {
  width: 50%;
  margin: auto;
  text-align: center;
}

.social_media ul {
  padding: 0;
}

.social_media li {
  display: inline-block;
}

.social_media a {
  color: inherit;
  text-decoration: none;
}

.social_media img {
  height: 20px;
  width: auto;
}

.contact img {
  height: 20px;
  width: auto;
  margin: 0;
}

.contact h3 {
  margin-bottom: -5px;
}

.email a {
}

.email tt {
  font-family: monospace;
}

.body {
  width: 50%;
  margin: auto;
  clear: both;
}

.articles ul, .proceedings ul, .presentations ul {
  list-style-type: none;
  padding: 0;
}

.articles li, .proceedings li, .presentations li {
  margin-bottom: 1em;
  padding: 0;
}
