.DS_Store
.idea
*.log
tmp/

# From Hugo building locally
.hugo_build.lock
resources/
assets/jsconfig.json
go.sum

# Unused at present, but keeping for reference
content/project/
content/post/
content/event/
assets/media/albums
data/fonts/
data/page_sharer.toml
images/
static/
